<h1>Listing quiz_answers</h1>

<table>
  <tr>
    <th></th>
    <th>Text</th>
    <th>Is right</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quiz_answers.each do |quiz_answer| %>
  <tr>
    <td><%= quiz_answer. %></td>
    <td><%= quiz_answer.text %></td>
    <td><%= quiz_answer.is_right %></td>
    <td><%= link_to 'Show', quiz_answer %></td>
    <td><%= link_to 'Edit', edit_quiz_answer_path(quiz_answer) %></td>
    <td><%= link_to 'Destroy', quiz_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quiz answer', new_quiz_answer_path %>
