<%= form_for(@comment, remote: true) do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <ul></ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Ваше имя', :class => :required %>
      <%= f.text_field :user_name %>
    </div>

    <div class="field">
      <%= f.label :email do %>
          Email <span class="desc">(подписаться на комментарии, email опубликован не будет)</span>
      <% end %>
      <%= f.text_field :user_email %>
    </div>

    <div class="field">
      <%= f.label 'Комментарий', :class => :required %>
      <%= f.text_area :text, rows: 3 %>
    </div>

    <%= f.hidden_field :page_id %>

    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
<% end %>
