<%= tinymce_assets %>
<%= tinymce %>

<%= form_for(@page, html: {multipart: true}) do |f| %>
    <% if @page.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

          <ul>
            <% @page.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div class="field">
      <%= f.label :text_file %>
      <%= f.select :text_file, @page.text_files, prompt: ''  %>
    </div>
    <div class="field">
      <%= f.label :text %>
      <%= f.text_area :text, class: :tinymce %>
    </div>


    <div class="field">
      <% Tag.all.each do |tag| %>
          <%= check_box_tag('tags[]', tag.id, (params[:tags] || []).include?(tag) || @page.has_tag(tag.id)) %>
          <%= tag.name %> &nbsp;&nbsp;
      <% end %>
    </div>

    <div class="actions" style="margin-top: 30px !important;">
      <%= f.submit class: 'btn btn-primary', name: 'redirect_to_show' %>
      <%= f.submit class: 'btn btn-success', value: 'Update and continue Editing' %>
    </div>
<% end %>
