<article class="page" id="page_<%= page.id %>">
  <h1>
    <% if preview %>
        <%= link_to page.title, page %>
    <% else %>
        <%= page.title %>
    <% end %>
  </h1>

  <% if page.image.present? %>
      <div class="page-image thumbnail">
        <%= image_tag page.image.url(preview ? :small : :medium) %>
      </div>
  <% end %>

  <% if preview %>
      <%= markdown(page.text_content.split('{CUT}')[0]) %>
  <% else %>
      <%= markdown(page.text_content.gsub('{CUT}', '')) %>
  <% end %>

  <p style="margin-top: 5px">
    Tags:
    <% page.tags.each do |tag| %>
        <a href="<%= pages_path(tag_id: tag.id) %>"><span class="label label-inverse"><%= tag.name %></span></a>
    <% end %>

    | <i class="icon-calendar"></i> <%= page.created_at.strftime('%B %d, %Y') %>
    | <i class="icon-comment"></i> <%= link_to pluralize(page.comments.count, 'Comment'), page_path(page) + '#comments' %>
    | <i class="icon-share"></i> <a href="#">39 Shares</a>
  </p>

  <hgroup style="margin-top: 5px">
    <% if preview %>
        <%= link_to 'Read more', page, class: 'btn btn-inverse  btn-mini' %>
    <% end %>

    <% if can? :update, Page %>
        <%= link_to 'Edit', edit_page_path(page), class: 'btn btn-success btn-mini' %>
    <% end %>

    <% if can? :destroy, Page %>
        <%= link_to 'Delete', page_path(page), method: :delete, remote: true, confirm: 'Delete Page?', class: 'btn btn-danger btn-mini' %>
    <% end %>
  </hgroup>
</article>

