<article class="page">
  <h1>
    <% if preview %>
        <%= link_to page.title, page %>
    <% else %>
        <%= page.title %>
    <% end %>
  </h1>

  <% if preview %>
      <%= raw page.text.truncate 1000 %>
  <% else %>
      <%= raw page.text %>
  <% end %>

  <p style="margin-top: 5px">
    Tags:
    <a href="#"><span class="label label-info">Snipp</span></a>
    <a href="#"><span class="label label-info">Bootstrap</span></a>
    <a href="#"><span class="label label-info">UI</span></a>
    <a href="#"><span class="label label-info">growth</span></a>
    | <i class="icon-user"></i> <a href="#">Admin</a>
    | <i class="icon-calendar"></i> Sept 16th, 2012 at 4:20 pm
    | <i class="icon-comment"></i> <a href="#">3 Comments</a>
    | <i class="icon-share"></i> <a href="#">39 Shares</a>
  </p>

  <hgroup style="margin-top: 5px">
    <% if preview %>
        <%= link_to 'Read more', page, class: 'btn btn-primary' %>
    <% end %>

    <%= link_to 'Edit', edit_page_path(page), class: 'btn btn-success' %>
  </hgroup>
</article>

