<%
items = {
    '→ Home' => {
        :url     => root_path,
        :visible => true
    },
    'Contacts' => {
        :url     => url_for(:controller => :pages, :action=> :contacts),
        :visible => true
    },
    'Tasks' => {
        :url     => tasks_path,
        :visible => (can? :index, Task)
    },
    #'Me' => {
    #    :url     => url_for(controller: '/pages', action: 'me'),
    #    :visible => true
    #}
}
%>

<ul class="nav">
  <% items.each do |label, data| %>
      <% next unless data[:visible] %>
      <li class="<%= current_page?(data[:url]) ? 'active' : '' %>">
        <%= link_to label, data[:url], class: :uppercase %>
      </li>
  <% end %>
</ul>

<div class="pull-right">
  <ul class="nav pull-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle uppercase" data-toggle="dropdown">
          <%= @current_user.authenticated? ? @current_user.name : "Login" %>
          <b class="caret"></b>
        </a>
      <ul class="dropdown-menu">
        <% if @current_user.authenticated? %>
            <% if can? :create, Page %>
                <li><%= link_to 'New page', new_page_path %></li>
            <% end %>

            <% if can? :index, Tag %>
                <li><%= link_to 'Tags', tags_path %></li>
            <% end %>

            <% if can? :manage, User %>
                <li><%= link_to 'Users', :action => :manage, :controller => :users %></li>
            <% end %>

            <% if can? :manage, Comment %>
                <li><%= link_to 'Comments', :action => :manage, :controller => :comments %></li>
            <% end %>

            <li>
              <a href="<%= url_for controller: :sessions, action: :destroy, :class => 'uppercase' %>">
                <i class="icon-off"></i> Logout</a>
            </li>
        <% else %>
            <li><a href="/auth/facebook">With Facebook</a></li>
            <li><a href="/auth/twitter">With Twitter</a></li>
            <li><a href="/auth/vkontakte">With Vkontakte</a></li>
        <% end %>
      </ul>
    </li>
  </ul>
</div>