<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%= content_for?(:description) %>">
  <meta name="author" content="<%= content_for?(:author) %>">

  <title><%= content_for?(:title) %></title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all" %>

  <style type="text/css">
      body {
          padding-top: 60px;
          padding-bottom: 40px;
      }
  </style>
</head>

<body>

<%= render 'layouts/author' %>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <!--<a class="brand" href="/" style="font-weight: bold">Artem Os.</a>-->

      <div class="nav-collapse collapse">
        <%= render partial: 'layouts/menu' %>
      </div>
    </div>
  </div>
</div>

<div class="container" id="content">
  <% if notice %>
      <div class="alert">
        <%= notice %>
      </div>
  <% end %>
  <%= yield %>
  <hr>
  <footer>
    <p>&copy; Company 2012</p>
  </footer>

  <% if @sidebar %>
      <%= render partial: @sidebar %>
  <% end %>
</div>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<%= javascript_include_tag 'application' %>

</body>
</html>
