<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%
  title = content_for(:title)
  title = 'Артем Остапец | Блог о Web разработке' if title.length.zero?
  %>
  <title><%=   %></title>
  <meta name="description" content="<%= content_for?(:description) %>">
  <meta name="author" content="<%= content_for?(:author) %>">

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= auto_discovery_link_tag(:rss, url_for(:controller => :pages, :action => :feed, :only_path => false, :format => :rss)) %>
</head>

<body>

<%= render 'layouts/google_analytics' %>
<%= render 'layouts/yandex_analytics' %>

<a href="<%= url_for(:controller => :pages, :action => :feed, :only_path => false, :format => :rss) %>" id="rss"></a>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse collapse">
        <%= render partial: 'layouts/menu' %>
      </div>
    </div>
  </div>
</div>

<div class="container" style="width: 1100px">
  <div class="row">
    <% if @left_sidebar %>
        <div class="span3">
          <%= render partial: @left_sidebar %>
        </div>
    <% end %>

    <div class="span10" id="content">
        <%= yield %>
    </div>

    <% if @right_sidebar && !@left_sidebar %>
        <div class="span3">
          <%= render partial: @right_sidebar %>
        </div>
    <% end %>
  </div>
  <hr>
  <footer>
    <p>© Company 2012</p>
  </footer>
</div>

<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<%= javascript_include_tag 'application' %>
<%= yield :js %>

</body>
</html>
